:root {
    --main-background-color-light: rgba(12, 60, 43, 0.7);
    --main-background-color-dark: rgba(55, 75, 80, 1.0);
    --secondary-background-color-light: #eeeeee;
    --secondary-background-color-dark: #1f5a5b;
    --tertiary-background-color-dark: #494e56;
    --main-border-color: rgba(0, 0, 0, 0.1);
    --main-shadow-color: rgba(0, 0, 0, 0.7);
    --secondary-shadow-color: rgba(0, 0, 0, 0.3);
    --tertiary-shadow-color: rgba(0, 0, 0, 0.1);
    --main-text-color: #eeeeee;
    --secondary-text-color: #393e46;
    --main-highlight-color-dark: #0f3a3b;
    --main-highlight-color-light: #4f8a8b;
    --secondary-highlight-color-light: rgb(233, 134, 175);
    --main-hover-color: rgba(250, 250, 250, 0.1);
    --last-move-highlight-dark: rgba(250, 250, 250, 0.2);
    --othello-black: #202020;
    --othello-white: #eeeeee;
    --pattern-body-cell: rgb(223, 161, 29);
    --pattern-positive-head-cell: rgb(31, 140, 241);
    --pattern-negative-head-cell: #c92856;
    --blocker-background-color: rgba(19, 13, 13, 0.5);
    --blocker-background-transparent: rgba(0, 0, 0, 0);
    --dropdown-main-border-color-dark: #595e66;
    --dropdown-main-border-color-light: #cecece;
    --progress-bar-main-color: rgba(60, 164, 60, 1.0);
    --main-inactive-color-light: rgba(250, 250, 250, 0.7);
}

html, body {
    padding: 0px;
    margin: 0px;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color-light);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    transition-duration: 200ms;
}

.center-board-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 511px;
    padding: 20px 40px 40px 40px;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    background-color: var(--main-background-color-dark);
    color: var(--main-text-color);
    box-shadow: 0px 2px 4px 0px var(--main-shadow-color);
    transition-duration: 200ms;
}

@media (min-width: 1200px) {
    .center-board-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: none;
        padding: 20px 40px 40px 40px;
        border: 1px solid var(--main-border-color);
        border-radius: 10px;
        background-color: var(--main-background-color-dark);
        color: var(--main-text-color);
        box-shadow: 0px 2px 4px 0px var(--main-shadow-color);
    }
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Explanations */

.explanation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 511px;
    align-self: stretch;
    align-items: stretch;
}

.init-buttons-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    transition-duration: 200ms;
    transform: translate(-50%, -50%);
}

.explanation-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex-grow: 3;
    background-color: rgba(199, 75, 80, 1);
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    overflow-y: auto;
    max-width: inherit;
    white-space: pre-wrap;
    border-left: 4px solid var(--main-text-color);
    margin-top: 12px;
    box-shadow: 0px 1px 2px 0px var(--main-shadow-color);
}

.uploads-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.upload-button {
    background-color: var(--main-highlight-color-dark);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px var(--main-shadow-color);
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    transition-duration: 200ms;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    background-color: var(--main-text-color);
    border: none;
    color: var(--secondary-text-color);
    border-radius: 5px;
    width: 4em;
}

.inactive input[type="text"]:focus {
    outline: none;
}

input[type="checkbox"] {
    accent-color: var(--main-highlight-color-light);
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

/* .why-button {
    position: relative;
    background-color: tomato;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    transition-duration: 200ms;
} */

/* .reset-button {
    background-color: rgba(176, 64, 190, 1.0);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    transition-duration: 200ms;
} */

/* .add-button {
    position: relative;
    background-color: rgba(60, 164, 60, 1.0);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    transition-duration: 200ms;
    z-index: 7;
} */

.init-button {
    position: relative;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
    width: fit-content;
    min-width: 60px;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    transition-duration: 200ms;
}

.init-button.play {
    background-color: var(--main-highlight-color-light);
}

.init-button.audit {
    background-color: var(--main-highlight-color-dark);
}

.init-button.cancel {
    background-color: var(--main-highlight-color-dark);
}

.init-button.hidden {
    visibility: hidden;
}

.init-button.top {
    z-index: 4;
}

.init-button:not(.inactive):hover, .why-button:not(.inactive):hover, .reset-button:not(.inactive):hover, .add-button:not(.inactive):hover, .upload-button:not(.inactive):hover {
    opacity: 0.9;
}

span.why, span.contrastive-literal {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

span.why:hover, span.contrastive-literal:hover {
    background-color: var(--secondary-shadow-color);
}

.hidden {
    display: none;
}

ul.explanation {
    list-style-type: "\2B9E";
    padding-left: 12px;
    margin-top: 0px;
}

li.active {
    list-style-type: "\2B9F";
}

ul.explanations-list {
    list-style-type: disc;
    margin-top: 10px;
}

ul.contrastive-explanations-list {
    list-style-type: "\2B9E";
    margin-top: 10px;
}

ul.contrastive-explanations {
    list-style-type: square;
}

li.why + li.why {
    margin-top: 10px;
}

li.literal + li.literal {
    margin-top: 10px;
}

/* Othello */

.othello-score-board-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 20px 0px;
}

.othello-point-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.othello-point-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.othello-point-color.black {
    background-color: var(--othello-black);
    border: 2px solid var(--othello-black);
}

.othello-point-color.white {
    background-color: var(--othello-white);
    border: 2px solid var(--othello-white);
}

.othello-score-text-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    font-weight: 600;
}

.othello-board-container {
    background-color: var(--secondary-background-color-light);
    display: grid;
    gap: 1px;
    padding: 1px;
    box-shadow: 0px 1px 2px 0px var(--main-shadow-color);
    max-width: 509px;
    z-index: 4;
}

.othello-cell {
    background-color: var(--main-highlight-color-light);
    width: 50px;
    height: 50px;
    position: relative;
}

.highlighted {
    background-color: var(--secondary-highlight-color-light);
}

/* .flip-highlighted {
    background-color: rgba(60, 164, 60, 1.0);
} */

.border-cell {
    background-color: var(--secondary-background-color-dark);
    width: 50px;
    height: 50px;
    position: relative;
}

.othello-piece-white {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--othello-white);
}

.othello-piece-black {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--othello-black);
}

.legal-moves-black {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--tertiary-shadow-color);
    border: 1px dashed var(--othello-black);
    cursor: pointer;
}

.othello-last-move {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--secondary-highlight-color-light);
}

/* Footer */

.footer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-area: 2 / 1 / 2 / 3;
}

.help-container, .tour-container {
    padding: 5px;
    cursor: pointer;
}

.help-container {
    position: absolute;
    right: 25px;
    top: 25px;
}

.tour-container {
    font-size: larger;
    border-radius: 5px;
}

/* .tour-container:hover {
    background-color: rgba(0, 0, 0, .3);
} */

.help-container > a {
    color: white;
}

/* Tour */

/* .starting-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(12, 60, 43, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-dialog {
    background-color: rgba(199, 75, 80, 1);
    color: white;
    padding: 20px;
    max-width: 300px;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.7);
    z-index: 4;
}

.tour-dialog.spacing {
    margin-bottom: 40px;
    margin-top: 20px;
}

.tour-next-button {
    background-color: rgba(176, 64, 190, 1.0);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    transition-duration: 200ms;
    align-self: flex-end;
}

.tour-next-button:hover {
    opacity: 0.9;
} */

.highlighted-item {
    background-color: var(--pattern-body-cell);
}

.blocker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--blocker-background-color);
}

.blocker.rounded-corners {
    border-radius: inherit;
}

.blocker.transparent {
    background-color: var(--blocker-background-transparent);
}

.blocker.blurry {
    backdrop-filter: blur(2px);
}

.blocker.top {
    z-index: 100;
}

.blocker.flexy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocker.dark {
    background-color: var(--tertiary-shadow-color);
}

/* Animation */

.translate-board-down {
    transform: translateY(150px);
}

.translate-board-up {
    transition-duration: 0ms;
    transform: translateY(20px);
}

/* Coachello */

.pattern-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
}

.body-cell {
    background-color: var(--pattern-body-cell);
}

.head-cell {
    background-color: var(--pattern-positive-head-cell);
}

.negative-head-cell {
    background-color: var(--pattern-negative-head-cell);
}

.body-cell-explanation {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
}

.head-cell-explanation {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border: solid 4px var(--pattern-positive-head-cell);
    /* transition-duration: 200ms; */
}

.head-cell-explanation.contrastive {
    border: solid 4px var(--pattern-negative-head-cell);
}

/* Right click menu */

.specification-menu-blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 106;
}

.specification-menu-container {
    position: absolute;
    padding: 10px;
    border-radius: 1px;
    background-color: var(--secondary-background-color-light);
    box-shadow: 0px 1px 2px 0px var(--secondary-shadow-color);
    z-index: 107;
}

/* Game navigation */

.game-up-down-load-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.game-load-container {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px var(--secondary-shadow-color);
    background-color: var(--main-highlight-color-light);
}

.game-load-container.inactive {
    cursor: not-allowed;
}

.game-load-container.pot {
    z-index: 4;
    visibility: hidden;
}

.game-load-container:hover {
    background-color: var(--main-hover-color);
}

.game-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px 0px 10px 0px;
}

.navigation-button {
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-text-color);
    transition-duration: 200ms;
}

.navigation-button:hover {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: var(--main-background-color-dark);
    /* background-color: rgba(61, 83, 88, 1.0); */
    box-shadow: 0px 1px 2px 0px var(--secondary-shadow-color);
    color: var(--main-text-color);
}

.inactive {
    opacity: 0.3;
}

.navigation-button.inactive {
    opacity: 0.3;
    cursor: not-allowed;
}

.game-stuff-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .game-settings-container {
    display: flex;
    flex-direction: column;
    border-left: rgba(250, 250, 250, 0.2) solid 1px;
    padding-left: 10px;
} */

.game-navigation-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-history-container {
    display: flex;
    /* height: 666px; */
}

.move-number-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    background-color: var(--main-highlight-color-dark);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 1px 2px 0px var(--secondary-shadow-color);
    padding: 10px;
    min-width: 1.2em;
    height: 260px;
    overflow: hidden;
}

.moves-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 5px; */
    background-color: var(--secondary-background-color-dark);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 2px 0px var(--secondary-shadow-color);
    padding: 10px;
    width: 200px;
    height: 260px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.move-number-container.audit {
    height: 200px;
}

.moves-container.audit {
    height: 200px;
}

.moves-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.move-span {
    padding: 2px 4px 0px 4px;
    width: fit-content;
    border-radius: 2px;
    cursor: pointer;
}

.move-span:not(.inactive):hover {
    background-color: var(--main-hover-color);
}

.move-span.inactive {
    cursor: default;
    opacity: 1.0;
}

.black-dot {
    color: var(--othello-black);
}

.last-move-span {
    background-color: var(--last-move-highlight-dark);
}

.number-span {
    padding: 2px 0px 0px 0px;
    width: fit-content;
}

/* Slider */

.setting-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition-duration: 200ms;
}

.setting-text {
    padding: 5px;
}

/* .switch {
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 24px;
    background-color: rgba(250, 250, 250, 0.3);
    transition-duration: 200ms;
}

.switch.active {
    background-color: rgba(60, 164, 60, 1.0);
}

.switch-ball {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition-duration: 200ms;
}

.switch-ball.active {
    left: 19px;
} */

/* Game Settings */

.game-settings-container {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-background-color-dark);
    box-shadow: 0px 2px 4px 0px var(--tertiary-shadow-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.player-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 30px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
}

.player-settings.right {
    background-color: var(--secondary-background-color-light);
    color: var(--secondary-text-color);
}

.player-settings.right input[type="text"] {
    background-color: var(--secondary-text-color);
    color: var(--secondary-background-color-light);
}

.player-type-container {
    position: relative;
    border-radius: 2px;
    min-width: 60px;
    display: flex;
    gap: 5px;
}

.player-type-container:hover {
    cursor: pointer;
}

.audit-settings-container .player-type-container:hover {
    cursor: auto;
}

.player-dropdown-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
    border: 1px solid var(--dropdown-main-border-color-dark);
    font-size: 10pt;
    z-index: 101;
}

.player-dropdown-container.right {
    border-color: var(--dropdown-main-border-color-light);
    background-color: var(--secondary-background-color-light);
    color: var(--secondary-text-color);
}

.player-dropdown-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.player-dropdown-container ul li {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    min-width: 60px;
}

.player-dropdown-container ul li + li {
    border-top: 1px solid var(--dropdown-main-border-color-dark);
}

.player-dropdown-container.right ul li + li {
    border-top: 1px solid var(--dropdown-main-border-color-light);
}

.player-dropdown-container ul li:hover {
    background-color: var(--dropdown-main-border-color-dark);
    /* background-color: red; */
}

.player-dropdown-container.right ul li:hover {
    background-color: var(--dropdown-main-border-color-light);
}

/* .player-type-container:hover > .player-dropdown-container,
.player-dropdown-container .player-dropdown-container:hover,
.player-dropdown-container .player-dropdown-container ul:hover {
    visibility: visible;
} */

.policy-upload-button {
    display: flex;
	border-radius: 5px;
    gap: 5px;
    /* background-color: var(--tertiary-background-color-dark); */
    /* backdrop-filter: brightness(90%); */
}

.policy-upload-button.inactive {
    cursor: not-allowed;
}

.policy-upload-button:not(.inactive):hover {
	cursor: pointer;
}

.audit-settings-container .player-settings .policy-upload-button:hover {
    cursor: auto;
}

.show-play-mode {
	position: absolute;
	left: 50%;
	top: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    align-self: stretch;
	gap: 20px;
	transform: translateX(-50%);
	transition-duration: 200ms;
}

.game-upload-container {
    display: flex;
    gap: 20px;
    grid-area: 1 / 1 / 2 / 3;
}

.game-settings-done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 3;
}

.audit-settings-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
}

.finalize-settings-button {
    padding: 5px;
    z-index: 4;
}

.finalize-settings-button:hover {
    background-color: var(--tertiary-shadow-color);
}

.timeout-container {
    display: flex;
    gap: 5px;
}

.pvp-settings-container {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}

.animate-container {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
}

.games-number-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.delay-line {
    display: flex;
    gap: 10px;
    grid-area: 3 / 1 / 4 / 3;
}

.date-container {
    display: flex;
    gap: 15px;
}

.date-line {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    justify-content: flex-start;
}

.ms-container {
    font-size: 8pt;
}

/* Progress bar */

.progress-bar-container {
    display: flex;
    gap: 40px;
    height: 6px;
    min-width: 600px;
    background-color: var(--secondary-shadow-color);
    border-radius: 3px;
}

.progress-bar {
    width: 0px;
    height: 6px;
    background-color: var(--progress-bar-main-color);
    border-radius: 3px;
    transition-duration: 1ms;
}

.progress-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.progress-count {
    display: flex;
    font-size: 24pt;
    color: var(--othello-white);
}

/* Bulk upload */

.bulk-modal-container {
    position: absolute;
    top: -100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px var(--tertiary-shadow-color);
    background-color: var(--main-highlight-color-dark);
    transition-duration: 200ms;
    transform: translate(-50%, -50%);
    color: var(--main-text-color);
}

.game-list-container {
    display: flex;
    width: fit-content;
    max-width: 800px;
    height: 400px;
    padding-right: 5px;
    overflow-y: auto;
}

.game-list-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
}

.game-list-entry {
    display: flex;
    padding: 6px 0px 4px 0px;
    white-space: nowrap;
    user-select: none;
}

.game-list-entry.pad-left {
    padding-left: 20px;
}

.game-list-entry.odd {
    background-color: var(--secondary-background-color-dark);
    border: 1px solid var(--secondary-background-color-dark);
}

.game-list-entry.even {
    border: 1px solid var(--main-highlight-color-dark);
}

.game-list-entry.header {
    font-weight: bold;
    border-bottom: 2px solid var(--main-text-color);
}

.game-list-entry.highlighted {
    background-color: var(--main-highlight-color-light);
    border: 1px solid var(--main-highlight-color-light);
}

.game-list-entry:not(.header):hover {
    cursor: pointer;
}

.foot-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.done-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    gap: 20px;
}

/* Change mode */

.message-box {
    position: absolute;
    padding: 5px 0px 0px 0px;
    color: var(--main-text-color);
    font-size: 9pt;
}

/* Pattern area */

.pattern-area-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    z-index: 101;
}

.pattern-area {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
    box-shadow: 4px 4px 4px 0px var(--secondary-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mini-pattern-grid-container {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--tertiary-background-color-dark);
    padding: 2px;
    border-radius: 5px;
}

.mini-pattern-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--secondary-text-color);
    padding: 4px;
    align-items: center;
}

.mini-pattern-container:nth-child(1) {
    border-radius: 5px 0 0 0;
}

.mini-pattern-container:nth-child(4) {
    border-radius: 0 5px 0 0 ;
}

.mini-pattern-container:nth-child(5) {
    border-radius: 0 0 0 5px;
}

.mini-pattern-container:nth-child(8) {
    border-radius: 0 0 5px 0;
}

.mini-pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.mini-pattern-cell {
    opacity: 0.0;
    transition-duration: 200ms;
}

.mini-pattern-cell.body {
    background-color: var(--pattern-body-cell);
    opacity: 1.0;
}

.mini-pattern-cell.positive-head {
    background-color: var(--pattern-positive-head-cell);
    opacity: 1.0;
}

.mini-pattern-cell.negative-head {
    background-color: var(--pattern-negative-head-cell);
    opacity: 1.0;
}

.single-advice-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
}

.single-advice-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 16pt;
}

.single-advice-button.inactive {
    cursor: not-allowed;
    color: var(--main-inactive-color-light);
}

.single-advice-button:hover {
    background-color: var(--main-hover-color);
}

.body-cell-explanation.flash {
    border: solid 4px var(--pattern-body-cell);
}